<!DOCTYPE html>
<html lang="en">
    <%- include('patient/layouts/header'); -%>
    
<body class="bg-gradient-primary">
    <div class="container" style="width: 600px;">
    <div class="Feedback-menu">
        <p>We always appreciate and acknowledge your valuable contributions</p>
    </div>
    <div class="form-group align" id="name">
        <div class="input-wrapper">
            <label for="fullName">Full Name</label>
            <input type="firstName" id="firstName" name="firstName" class="form-control" placeholder="Full Name" />
            <div id="fullName-error" class="message-error"></div>
         </div>
     </div>    
     <div class="form-group align" id="email">
        <div class="input-wrapper">
                <label for="Email">Email</label>
                <input type="Email" id="Email" name="Email" class="form-control" placeholder="Email" />
                <div id="Email-error" class="message-error"></div>
         </div>   
     </div>
     <div class="form-group align" >
        <div class="send-feedback">
                <label for="send-feedback">Send Feedback</label>
                <div>
                <input type="send-feedback"name="sendFeedback" class="form-control div1" placeholder="Send feedback" />
                <div id="Send feedback-error" class="message-error"></div>
            </div>
        </div>   
     </div>
     <a href="home" class="btn btn-primary btn-user btn-block">Send</a>
    </div>
     <%- include('patient/layouts/scripts'); -%>
    </body>

</html>