<!DOCTYPE html>
<html lang="en">
    <%- include('layouts/header'); -%>
<body>
    <%- include('layouts/navbar'); -%>
    <header class="search">  </header>
    <div class="container">
        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="search">
                <ul class="navbar-nav ml-auto">
                    <form class="form-inline" action="/somepage">
                        <input class="form-control mr-sm-2" type="text" placeholder="Search">
                        <button class="btn btn-success" type="submit">
                            <svg width="20px" height="20px" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
                                <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
                            </svg>
                        </button>
                    </form>
                </ul>
        </div>
        <div class="about-menu">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="about-header">
                    <a herf="" class="our-policy"><span>Our policy</span></a></div>
                    <a herf="" class="your-benefits"><span>Your benefits</span></a></div>
                    <a herf="" class="how-to-use-this-portal"><span>How to use this portal</span></a></div>
            </div>
            <div class="container">
                <div class="row">
                  <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="about-preview">
                        <a href="about.html">
                    <div class="text-center">
                        <div class="our-policy">
                        <div>
                        <h1 class="h1 text-gray-900 mb-4">Our Policy</h1>
                    </div>
                    <form action="/about/our-policy" method="POST">
                        <div class="text-title"> 
                            <h3 class="h3-text">Administrative Policie</h3>
                        </div>
                    <div>
                        <p class="about-text-content">
                        Administration activities are the primary backbone that ensure that a hospital is running smoothly and has everything in place in order to make sure that the staff, patients, and visitors are being handled in the proper manner.
                        Administrative policies cover a vast area including, but not limited to, visitation rules, dress code policy, acquisition of equipment, bed policy, and various other activities that are needed to be performed in order to help run the administration of the hospital.
                        </p>
                    </div>
                    <div>
                        <h3 class="h3-text"> Human Resource Management Policies </h3>
                    </div>
                    <div>
                        <p class="about-text-content">
                            The primary duty of human resource management department is to ensure that the staff are complying with the rules and regulations of the organization, as well as, being taken care of. Staff members are a vital component of a hospital, therefore, it is essential their well being, as well as, improving their skill sets is the primary focus of the department. In order to ensure that the department is taking care of its staff, as well as, ensuring its staff is following strict procedures, they need to create and maintain a comprehensive list of policies and procedures. Such policies may include, vacation days, personal hygiene maintenance, shift policies, as well as, assigning tasks to each individual.
                        </p>
                    </div>
                    <div>
                        <h3 class="h3-text">Providing Care Policies </h3>
                    </div>
                    <div>
                        <p class="about-text-content">
                            The basic purpose of a hospital is to provide care to its patients. Therefore, it is no surprise that the most comprehensive set of policies and procedure manual is the one directed to this department. Such policies cover topics from, nutrition guides, patient and family education, abuse and neglect, admission and discharge, patient call back, patient rights and responsibilities, as well as, numerous other topics. The policies differ for each department as well, for instance, the paediatrics ward would have a separate set of policies as opposed to cardiological ward.
                        </p>
                    </div>
                    <div>
                        <h3 class="h3-text"> Information Management Policies </h3>
                    </div>
                    <div>
                        <p class="about-text-content">
                            Finally, it is very important how a hospital shares its information. This information can be related to a staff member, patient, or a visitor. It is very important for an organization to ensure everyone is following a strict code of privacy, and is not violating anyone’s right. Therefore, such policies include: confidentiality, security and integrity of information, medical records distribution, and the likes.
                        </p>
                        <p class="about-text-content">
                            Keeping up with regulations regarding policies and procedures, may be stressful. In order to ensure that staff is complying with the policies and procedures, it is essential that the policies and procedure manuals are well organized and easily accessible. To that end, our policy management software may be able to help, or it may be that another vendors software is more suitable.
                        </p>
                        <p class="about-text-content">
                            If you would like to find out more about how healthcare policy management software can help ease the stress the staff members are under, please contact us for more information. Alternatively, if you would like to see our software in action, please ask for a free demonstration.
                        </p>
                    </div>
                </form>
            </div>
                    <div class= "Your-Benefits">
                    <div>
                        <h1 class="h1 text-gray-900 mb-4">Your Benefits</h1>
                        </div class="text-title">
                        <form action="/about/Your-Benefits" method="POST">
                        <div>
                        <p class="about-text-content">
                            Patients at specialty hospitals have access to extraordinary expertise, resources and therapy programs that aren't often available at general rehabilitation centers. Specialty hospitals often have years of experience treating individuals with spinal cord injuries (SCI) and traumatic brain injuries (TBI). These dedicated facilities have patient and family support programs designed for SCI and TBI patients and the staff at specialty hospitals know how to help families navigate complex SCI/TBI care at an emotionally challenging time.
                        </p>
                        <br>
                        <p>Specialty Hospitals Offer Better Outcomes</p>
                        <p>Choosing a rehabilitation program that specializes in SCI or TBI therapies means:</p>
                        <p>- Improved functional independence</p>
                        <p>- Reduced medical complications</p>
                        <p>- Relevant education and resources</p>
                        <p>- Improved productivity</p>
                        <p>- Lower long-term costs</p>
                        <p>- Better preparation and support for a successful future</p>
                        <br>
                        <p> Because specialty hospitals put together a custom team of physicians, therapists and caregivers, every patient’s plan is designed with unprecedented expertise.</p>
                        <p>Benefits of Choosing a Specialty Hospital</p>
                        <p>- High-quality staff with focused experience</p>
                        <p>- Peer support from patients with similar injuries </p>
                        <p>- Specialized patient and family education and resources </p>
                        <p>- More options to participate in research studies</p>
                        <p>- Access to services not found in most rehabilitation centers</p>
                        <p>- Specialized long-term support</p>
                    </form>
                </div>  

           <div class= "How-to-use-this-portal">
                 <h1 class="h1 text-gray-900 mb-4">How to use this portal</h1>
                     </div class="text-title">
                         <form action="/about/How-to-use-this-portal" method="POST">
                     <div class="about-text-content">
                         <p> If you don't have an account, please register for an account, or log in if you have one. Then you can search for hospitals that need treatment and book appointments.</p>
                        </div>
            </div>
        </div>
    </div>
   
</body>
</html>