<!DOCTYPE html>
<html lang="en">
    <%- include('layouts/header'); -%>

    <body>

        <!-- Navigation -->
        
            <!-- Page Header -->
            
              

<body>
    <div class="container">
        <div class="row">
            <h1 class="post-title">
                Where to?
            </h1>
        </div>
        <div class="form- align" id="name">
        <div class="input-wrapper">
            <label for="Countriesyoucanchoose">Countries you can choose</label>
            <input type="Countriesyoucanchoose" id="Countriesyoucanchoose" name="Countriesyoucanchoose" class="form-control" placeholder=" " />
            <div id="Countriesyoucanchoose-error" class="message-error"></div>
        </div>
        <div class="form- align" id="contact">
            <div class="input-wrapper">
                <label for="Doyouknowyourdiagnosis">Do you know your diagnosis</label>
                <input type="Doyouknowyourdiagnosis" id="Doyouknowyourdiagnosis" name="Doyouknowyourdiagnosis" class="form-control" placeholder=" "/><i class="far fa-circle" > yes</i><i class="far fa-circle" > no</i>
                <div id="Doyouknowyourdiagnosis-error" class="message-error"></div>
            </div>
            <div class="form- align" id="name">
                <div class="input-wrapper">
                    <label for="Inspecialty">In specialty</label>
                    <input type="Inspecialty" id="Inspecialty" name="Inspecialty" class="form-control" placeholder=" " />
                    <div id="Inspecialtyr" class="message-error"></div>
                </div>
           <div>
           <a herf="" class="click"><span>Click <button> here </button> if you to update. Patnlent Profile-which will be used for all hospitals you may choose later.</span></a>
           </div>
           <div> <a herf="" class="expected"><span>Expected time to come</span></a></div>
           <div> <a herf="" class="doyouneed"><span>Do you need our (free) support? <i class="far fa-circle" > yes</i><i class="far fa-circle" > no</i></a></div>
         
        </div>
    
        <button class="btn btn-primary btn-user btn-block">Search</button>
         </div>
       
                <%- include('layouts/scripts'); -%>
</body>
</html>